<div class="loader" id="loader">
  <div class="loader-inner">
    <h1 class="loader-logo">{{ site.brand.name }}</h1>
    <p class="loader-sub">{{ site.loader.label }}</p>
    <div class="loader-bar"><span class="loader-bar-fill" id="loaderBarFill"></span></div>
    <p class="loader-percent" id="loaderPercent">0%</p>
  </div>
</div>
